include /etc/nginx/conf.d/includes/maps.conf;

server {
  listen 80;
  server_name _;

  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  http2 on;
  server_name ${CERT_WEB_DOMAIN_COMMON_NAME} localhost 127.0.0.1 _;

  ssl_certificate /etc/letsencrypt/live/${CERT_WEB_DOMAIN_COMMON_NAME}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${CERT_WEB_DOMAIN_COMMON_NAME}/privkey.pem;
  include /var/www/certbot/conf/options-ssl-nginx.conf;
  ssl_dhparam /var/www/certbot/conf/ssl-dhparams.pem;
  proxy_cookie_flags JSESSIONID secure samesite=strict;
  include /etc/nginx/conf.d/includes/routes.conf;
}
